git+https://github.com/enjoy-digital/litex.git
git+https://github.com/litex-hub/litespi.git
git+https://github.com/litex-hub/pythondata-cpu-vexriscv.git
git+https://github.com/litex-hub/pythondata-software-picolibc.git
-e git+http://github.com/m-labs/migen.git#egg=migen
git+https://github.com/litex-hub/pythondata-cpu-picorv32.git
git+https://github.com/litex-hub/pythondata-cpu-ibex.git
#added to support sim_example
git+https://github.com/enjoy-digital/litedram
git+https://github.com/enjoy-digital/liteeth
git+https://github.com/enjoy-digital/liteiclink
git+https://github.com/enjoy-digital/litescope
git+https://github.com/litex-hub/pythondata-misc-tapcfg.git
